.headerInProductManager{
    margin: 1rem;
    font-weight: bold;
    font-size: 30px;
    display: flex;
}
.bodyInProductManager{
    padding: 10px;
}
.tableInProductManager{
    font-size: 20px;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}
.tableInProductManager th{
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid #ddd;
}
.tableInProductManager td{
    padding: 10px;
    border: 1px solid #ddd;
}

.addProductButton{
    margin-left: auto;
    font-size: 18px;
    vertical-align: middle;
}