.sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #1976d2;
    overflow: auto;
}

.sidebar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebarItem-title{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: ease-in 0.1s;
    color: white;
}
.sidebarItem-title:hover{
    background-color: #5e9cdb;
}

.sidebarItem-title.active{
    color: #5e9cdb;
    background-color: rgb(243, 254, 255);
}