.sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #1976d2;
    overflow: auto;
}

.sidebar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}