.sellerPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 254, 255);
}
.sellerPage > .header{
    display: flex;
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: #0B0D44;
    vertical-align: middle;
    z-index: 1000;
}
.sellerPage > .main{
    width: 100%;
    flex: 1;
}
.sellerPage > .main > .sidebar{
    position: fixed;
    width: 150px;
    height: 100vh;
    margin-top: 10vh;
    z-index: 100;
}
.sellerPage > .main > .content{
    flex: 1;
    padding: 16px;
    margin-top: 10vh;
    margin-left: 150px;
    min-height: 90vh;
}