.halfPage{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.headerInOrderManager{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.orderInfo{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    background-color: rgb(219, 226, 233);
    color: #000;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.orderInfo:hover{
    cursor: pointer;
    background-color: rgb(143, 163, 183);
    color: white;
}
.orderInfo.expanded{
    background-color: rgb(96, 104, 111);
    color: white;
}

.orderInfo > .bi-chevron-down.toggle-btn::before{
    transition: transform .3s;
}
.orderInfo.expanded > .bi-chevron-down.toggle-btn::before{
    transform: rotate(180deg);
}

.productInOrder{
    display: flex;
    align-items: center;
    width: 95%;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.customerInfoBlock{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    font-size: 16px;
    background-color: rgb(96, 104, 111);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}