.sidebarItem-title{
    padding: 1rem 1rem;
    justify-content:space-between;
    display: flex;
    cursor: pointer;
    transition: ease-in 0.1s;
    color: white;
}
.sidebarItem-title:hover{
    background-color: #5e9cdb;
}

.sidebarItem-title.active{
    color: #5e9cdb;
    background-color: rgb(243, 254, 255);
}