li {
    cursor: pointer
}

.mainItem{
    padding: 1rem 1rem
}

.subItem{
    padding: 1rem 0;
    padding-inline-start: 30px;
    background-color: #ffffff
}

ul{
    list-style-type: none;
    padding: 0px;
}